* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
.logo-title,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5 {
  font-family: "Cinzel", serif;
  font-weight: 600;
  letter-spacing: 0.1em;
}
